{% extends 'layout.html' %}

{% block content %}
<main class="container">
      <section class="card card-body">

            <h1 class="display-1 text-center">Django App</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consectetur voluptatem, blanditiis maxime praesentium cupiditate vitae quo accusantium! Ducimus sunt porro consequuntur officia in recusandae placeat excepturi, adipisci consequatur. Dignissimos dolor, repellat pariatur molestiae ut cumque animi deleniti voluptas, unde numquam magni nulla eos velit reiciendis commodi est cum consequatur eum nam iste. Id ullam blanditiis numquam accusantium dicta laborum, quasi reprehenderit distinctio rem veniam quibusdam laboriosam, doloribus adipisci iste modi cum, nulla atque consequatur deserunt ipsum sint deleniti vitae explicabo nemo. Excepturi doloremque facere ex explicabo est sapiente architecto veritatis dolores. Dolores quis delectus beatae dolor ullam iusto praesentium?</p>
            <div class="text-center">
      
                  <a class="btn btn-secondary" href="/sigin"> Signin</a>
                  <a class="btn btn-dark" href="/signup"> Signup</a>
            </div>
      </section>
      
</main >





{% endblock %}